.spinner {
    height: 100vh;
    width: 100%;
}

.avatar {
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 50px;
}

.title {
    justify-content: center;
}

span {
    display: flex;
}

li{
    padding: 20px;
    background: #f6f6f6;
    font-size: 20px;
    color: #555;
    border: 1px solid #e6e6e6;
    width: 400px;
    display: inline-block;
    margin: 10px;
}
li span:nth-child(4){
    padding: 20px;
    background: #C1E9FF;
    font-size: 20px;
    color: #555;
    border: 1px solid #e6e6e6;
    display: block;
    margin-top: 10px;

}
li span:nth-child(1){
    border-bottom: 1px solid;
}



